@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Rubik:wght@300;400;500;600&display=swap");

@import "colors";

/* Box sizing rules */
*,
*::before,
*::after {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

*::first-letter {
   text-transform: uppercase;
}

html {
   scroll-behavior: smooth;
   scroll-padding-top: 70px;
}

body {
   text-rendering: optimizeSpeed;
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   line-height: 1.7;
   overflow-x: hidden;
   background-color: $darkBlue;
   color: $lightCyan;
}

a {
   text-decoration: none;
}

p {
   margin-top: 1em;
}

ol,
ul {
   list-style: none;
}

img,
picture {
   max-width: 100%;
   display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
   font: inherit;
}

section,
main,
footer {
   padding-block: 4em;
}

.title {
   font-size: clamp(2rem, 3vw, 3.375rem);
}

.sub-title {
   font-weight: 400;
   letter-spacing: 2px;
}

.main-title {
   margin-bottom: 2em;
   text-align: center;
}

/* layout */

.app {
   display: grid;
   place-items: center;
   min-height: 100vh;

   .container {
      width: min(100% - 2rem, 450px);
      text-align: center;
      background-color: $grayishBlue;
      padding: 2em 2em 4em 2em;
      border-radius: 1em;
      position: relative;
   }

   .advice-num {
      color: $neonGreen;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 3px;
   }

   .advice {
      margin-top: 1em;
      // line-height: 1.2;
      // font-weight: 400;
      font-size: 1.125rem;
   }

   .divider {
      margin-top: 2.5em;

      img {
         margin-inline: auto;
      }
   }

   .button {
      position: absolute;
      left: 50%;
      bottom: -2.3em;
      transform: translateX(-50%);

      padding: 1.5em;
      background-color: $neonGreen;
      border-radius: 100vmax;

      border: none;
      outline: none;
      cursor: pointer;
      transition: box-shadow 0.3s ease-in-out;

      &:hover {
         box-shadow: 0 0 2em -0.25em $neonGreen;
      }
   }
}
